@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  line-height: 144%;
}
html{
  scroll-behavior: smooth;
  scroll-padding-top: 72px;
}
body {
  min-height: 100vh;
  @apply bg-blue-50
}

.section__styles {
  @apply  px-4 sm:px-6 md:px-8 lg:px-10
  /* py-10 xl:py-20 */
  sm:max-w-screen-sm md:max-w-screen-md lg:max-w-screen-lg mx-auto;
}
.tagline{
  @apply text-sm font-bold tracking-[3px] text-blue-900
}
.shadow-effect{
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
}

/* .fancy-line-border{
  border-right: 1px solid rgba(219, 219, 219, 0.747);
  border-left: 1px solid rgba(219, 219, 219, 0.747);
  border-bottom: 1px solid rgba(219, 219, 219, 0.747);
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.747);
} */
.heading{
  letter-spacing: -2px;
  @apply
  leading-[120%]
}


.hero-video{
  background-image: url(./images/video-image-small-min.png);
  @apply  aspect-video bg-cover grid place-items-center bg-center after:absolute after:h-full after:w-full after:z-[1] after:bg-blue-900 after:opacity-50
}
.testimonial-img{
  background-image: url(./images/testimonials-small-min.png);
}
.faq-img{
  background-image: url(./images/faq-small-min.png);
}

.frame-1{
  background-image: url(./images/Frame1-min.png);
}
.frame-2{
  background-image: url(./images/Frame2-min.png);
}

.graphic-img-1{
  background-image: url(./images/hero-graphic-1.png);
}
.graphic-img-2{
  background-image: url(./images/hero-graphic-2.png);
}
.graphic-img-3{
  background-image: url(./images/hero-graphic-3.png);
}



.testimonials-container:nth-child(odd){
 @apply bg-neutral-200
}

.scroll-styling::-webkit-scrollbar {
@apply w-2
}
.scroll-styling::-webkit-scrollbar-track{
@apply bg-white
}
.scroll-styling::-webkit-scrollbar-thumb {
  @apply bg-blue-700
}

/* Forms & Fields */
.input-field-and-label{
  @apply flex flex-col items-start text-start gap-2
}
.input-label{
  @apply text-blue-900
}
.input-field{
  @apply rounded-[3px] h-12 px-4 bg-white border-neutral-300 border-[1px] border-solid text-neutral-800 focus:outline-none  placeholder:text-neutral-500 w-full 
}
.submit-button{
 @apply bg-blue-500 text-white w-full px-8 py-4 disabled:bg-blue-900
}
.error-message{
  @apply text-red-600
}


input:-webkit-autofill,
select:-webkit-autofill {
  /* Set the background color to your desired value */
  -webkit-box-shadow: 0 0 0px 1000px white inset;
  -webkit-text-fill-color: #001407;
}

td, tr, th, tbody, thead {
  @apply bg-white text-blue-900
}

td {
  @apply w-[200px] h-[60px]
}
tr {
  @apply py-2
}
.nav-styling{
  @apply hidden lg:flex
}

.partner-img{
  @apply bg-cover bg-center w-full h-full bg-no-repeat grid place-items-center
}
